<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<location path="Forms/Administration">
		<system.web>
			<authorization>
				<deny users="*" />
			</authorization>
		</system.web>
	</location>-->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--<section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" />-->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=N1NWPLSK12SQL-v02.shr.prod.ams1.secureserver.net;Initial Catalog=ph18007064231_mortgage_market_admin;User ID=mortgage_market_admin;Password=9Ri_E3f8?Eh9mA;" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=N1NWPLSK12SQL-v02.shr.prod.ams1.secureserver.net;Initial Catalog=ph18007064231_mortgage_market;User ID=mortgage_market;Password=9Ri_E3f8?Eh9mA;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6" tempDirectory="G:\PleskVhosts\mortgagemarket.uk.com\tmp" />
    <httpRuntime targetFramework="4.6" maxRequestLength="51200" />
    <authentication mode="Forms">
      <forms timeout="5000" loginUrl="Login" defaultUrl="~/Login" />
    </authentication>
    <!--<roleManager enabled="true" />-->
    <authorization>
      <!--<deny users="?" />-->
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
	      ASP.NET Membership is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
	      ASP.NET Membership Profile is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
	        ASP.NET Membership Role is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="499999">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="EXCLUDE SOME STUFF" stopProcessing="true">
          <match url="(.*)\.(asmx|svc|axd)(.*)$" ignoreCase="true" />
          <action type="Rewrite" url="{R:1}.{R:2}{R:3}" />
        </rule>
        <rule name="EXCLUDE SOME STUFF 2" stopProcessing="true">
          <match url="(.*)\Pages(.*)$" ignoreCase="true" />
          <action type="Rewrite" url="{R:0}" appendQueryString="true" />
        </rule>
        <rule name="URLRedirect" stopProcessing="true">
          <match url="^([a-z0-9/]+).aspx$" />     
          <action type="Redirect" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="Vary" />
        <add name="Vary" value="Accept-Encoding" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <machineKey validationKey="18538CF4E3313CEFD22A2A1913E21AD71FB4F832CA8390B863AEFC651E9CCCA6A92F1584B84CAFC98FE59FD91167E2C66881C3668D57BE36C8D285D4B31B3DB4" decryptionKey="745B894FD08A770C0CACF159EC59C90E80813DF65669FFC9" validation="SHA1" />
    <httpCookies httpOnlyCookies="false" requireSSL="false" />
  </system.web>
  <!--<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
	</system.webServer>-->
  <appSettings>
    <add key="Secret" value="SDJNWNGNGR-J2GDB22TLG-T6BDZK2NHB-VVVP1OH7XZYR" />
    <add key="SecretKeyEncryptDecrypt" value="^@_YA_ALLAH_MADAD_@^" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Enviroment" value="Production" />
    <!--<add key="enviroment" value="Development" />-->
    <!--Production,Staging,Development-->
    <add key="EndPoint_Production" value="https://api.mortgagemarket.uk.com" />
    <add key="TokenEndPoint_Production" value="https://api.mortgagemarket.uk.com/api/authenticate/generate" />
    <add key="EndPoint_Staging" value="https://mortgage.cashbook.pk" />
    <add key="TokenEndPoint_Staging" value="https://mortgage.cashbook.pk/api/authenticate/generate" />
    <add key="EndPoint_Development" value="https://localhost:44323" />
    <add key="TokenEndPoint_Development" value="https://localhost:44323/api/authenticate/generate" />
    <add key="client_id" value="spa" />
    <!--must be match with SCBSettings:client_id-->
    <add key="client_secret" value="XJaUsJTAgjnJ" />
    <!--must be match with SCBSettings:client_secret-->
    <add key="grant_type" value="client_credentials" />
    <!--must be match with SCBSettings:grant_type-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
  </system.codedom>
</configuration>
<!--ProjectGuid: A149A540-4AC5-4DCF-A6C3-6F296BA81655-->
